-- CreateEnum
CREATE TYPE "Categoria" AS ENUM ('Sub9', 'Sub11', 'Sub13', 'Sub15', 'Sub17', 'Sub20', 'Livre');

-- CreateEnum
CREATE TYPE "Nivel" AS ENUM ('Base', 'Avancado', 'Performance');

-- CreateEnum
CREATE TYPE "StatusConexao" AS ENUM ('Pendente', 'Aprovado', 'Recusado');

-- CreateEnum
CREATE TYPE "StatusCref" AS ENUM ('Ativo', 'Desativo', 'Pendente');

-- CreateEnum
CREATE TYPE "StatusDesafioGrupo" AS ENUM ('ativo', 'concluido', 'expirado');

-- CreateEnum
CREATE TYPE "TipoMembro" AS ENUM ('DONO', 'ADMIN', 'MEMBRO');

-- CreateEnum
CREATE TYPE "TipoMensagem" AS ENUM ('NORMAL', 'DESAFIO', 'POST', 'USUARIO', 'CONQUISTA');

-- CreateEnum
CREATE TYPE "TipoMidia" AS ENUM ('Imagem', 'Video', 'Documento');

-- CreateEnum
CREATE TYPE "TipoTreino" AS ENUM ('Tecnico', 'F├¡sico', 'Tatico', 'Mental');

-- CreateEnum
CREATE TYPE "TipoUsuario" AS ENUM ('Atleta', 'Professor', 'Clube', 'Escolinha', 'Admin');

-- CreateTable
CREATE TABLE "Administrador" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "cargo" TEXT NOT NULL,
    "nivel" "Nivel" NOT NULL,

    CONSTRAINT "Administrador_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Amigo" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "amigoId" TEXT NOT NULL,
    "local" TEXT,
    "seguindo" BOOLEAN DEFAULT false,

    CONSTRAINT "Amigo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AtividadeRecente" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "imagemUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AtividadeRecente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Atleta" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "nome" TEXT,
    "sobrenome" TEXT,
    "email" TEXT,
    "senhaHash" TEXT,
    "idade" INTEGER NOT NULL,
    "cpf" TEXT,
    "telefone1" TEXT,
    "telefone2" TEXT,
    "nacionalidade" TEXT,
    "naturalidade" TEXT,
    "posicao" TEXT,
    "altura" DECIMAL(65,30),
    "peso" DECIMAL(65,30),
    "seloQualidade" TEXT,
    "foto" TEXT,
    "categoria" "Categoria"[],
    "consentimento" BOOLEAN NOT NULL DEFAULT false,
    "clubeId" TEXT,
    "escolinhaId" TEXT,
    "statusConexao" "StatusConexao" NOT NULL DEFAULT 'Pendente',
    "dataCriacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataUltimaModificacao" TIMESTAMP(3),
    "perfilTipoTreino" TEXT,
    "perfilTipoTreinoAtualizadoEm" TIMESTAMP(3),

    CONSTRAINT "Atleta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Clube" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "cnpj" TEXT,
    "telefone1" TEXT,
    "telefone2" TEXT,
    "email" TEXT,
    "siteOficial" TEXT,
    "sede" TEXT,
    "estadio" TEXT,
    "logradouro" TEXT,
    "numero" TEXT,
    "complemento" TEXT,
    "bairro" TEXT,
    "cidade" TEXT,
    "estado" TEXT,
    "pais" TEXT,
    "cep" TEXT,
    "logo" TEXT,
    "dataCriacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Clube_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Comentario" (
    "id" TEXT NOT NULL,
    "conteudo" TEXT NOT NULL,
    "dataCriacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "usuarioId" TEXT NOT NULL,
    "postagemId" TEXT NOT NULL,

    CONSTRAINT "Comentario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConfiguracaoSistema" (
    "id" TEXT NOT NULL,
    "registrationEnabled" BOOLEAN NOT NULL DEFAULT true,
    "maintenanceMode" BOOLEAN NOT NULL DEFAULT false,
    "allowAthleteChallenges" BOOLEAN NOT NULL DEFAULT true,
    "allowProfileEditing" BOOLEAN NOT NULL DEFAULT true,
    "maxDailyPosts" INTEGER NOT NULL DEFAULT 5,

    CONSTRAINT "ConfiguracaoSistema_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Curtida" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "postagemId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Curtida_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DesafioEmGrupo" (
    "id" TEXT NOT NULL,
    "desafioOficialId" TEXT NOT NULL,
    "grupoId" TEXT NOT NULL,
    "status" "StatusDesafioGrupo" NOT NULL DEFAULT 'ativo',
    "dataCriacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataExpiracao" TIMESTAMP(3),
    "pontosAcumulados" INTEGER DEFAULT 0,

    CONSTRAINT "DesafioEmGrupo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DesafioOficial" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "imagemUrl" TEXT,
    "nivel" "Nivel" NOT NULL,
    "categoria" "Categoria"[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "prazoSubmissao" TIMESTAMP(3),
    "pontuacao" INTEGER,
    "regras" TEXT,
    "tipoMetrifica├º├úo" TEXT,

    CONSTRAINT "DesafioOficial_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Escolinha" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT,
    "nome" TEXT NOT NULL,
    "cnpj" TEXT,
    "telefone1" TEXT,
    "telefone2" TEXT,
    "email" TEXT,
    "siteOficial" TEXT,
    "sede" TEXT,
    "logradouro" TEXT,
    "numero" TEXT,
    "complemento" TEXT,
    "bairro" TEXT,
    "cidade" TEXT,
    "estado" TEXT,
    "pais" TEXT,
    "cep" TEXT,
    "logo" TEXT,
    "dataCriacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Escolinha_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EstatisticaAtleta" (
    "atletaId" TEXT NOT NULL,
    "totalTreinos" INTEGER NOT NULL DEFAULT 0,
    "totalDesafios" INTEGER NOT NULL DEFAULT 0,
    "totalPontos" INTEGER NOT NULL DEFAULT 0,
    "horasTreinadas" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "fisico" INTEGER NOT NULL DEFAULT 0,
    "tecnico" INTEGER NOT NULL DEFAULT 0,
    "tatico" INTEGER NOT NULL DEFAULT 0,
    "mental" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EstatisticaAtleta_pkey" PRIMARY KEY ("atletaId")
);

-- CreateTable
CREATE TABLE "Exercicio" (
    "id" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "nivel" "Nivel" NOT NULL,
    "categorias" "Categoria"[],
    "videoDemonstrativoUrl" TEXT,

    CONSTRAINT "Exercicio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FavoritoUsuario" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "favoritoUsuarioId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FavoritoUsuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Grupo" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "foto" TEXT,
    "ownerId" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Grupo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LogErro" (
    "id" TEXT NOT NULL,
    "errorMessage" TEXT NOT NULL,
    "requestId" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL,
    "path" TEXT NOT NULL,
    "clientIp" TEXT NOT NULL,
    "postagemId" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,

    CONSTRAINT "LogErro_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MembroGrupo" (
    "id" TEXT NOT NULL,
    "grupoId" TEXT NOT NULL,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tipo" "TipoMembro" NOT NULL DEFAULT 'MEMBRO',
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "usuarioId" TEXT NOT NULL,

    CONSTRAINT "MembroGrupo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Mensagem" (
    "id" TEXT NOT NULL,
    "deId" TEXT NOT NULL,
    "paraId" TEXT NOT NULL,
    "conteudo" TEXT NOT NULL,
    "criadaEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lida" BOOLEAN NOT NULL DEFAULT false,
    "atletaId" TEXT,
    "desafioId" TEXT,
    "postId" TEXT,
    "tipo" "TipoMensagem" NOT NULL DEFAULT 'NORMAL',
    "usuarioId" TEXT,

    CONSTRAINT "Mensagem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MensagemGrupo" (
    "id" TEXT NOT NULL,
    "grupoId" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "conteudo" TEXT NOT NULL,
    "tipo" "TipoMensagem" NOT NULL DEFAULT 'NORMAL',
    "criadaEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "excluida" BOOLEAN NOT NULL DEFAULT false,
    "excluidaEm" TIMESTAMP(3),
    "excluidaPor" TEXT,

    CONSTRAINT "MensagemGrupo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Midia" (
    "id" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "tipo" "TipoMidia" NOT NULL,
    "dataCriacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataEnvio" TIMESTAMP(3) NOT NULL,
    "descricao" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "atletaId" TEXT,
    "escolinhaId" TEXT,
    "clubeId" TEXT,
    "submissaoDesafioId" TEXT,
    "submissaoTreinoId" TEXT,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Midia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PasswordReset" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "usedAt" TIMESTAMP(3),

    CONSTRAINT "PasswordReset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PontuacaoAtleta" (
    "atletaId" TEXT NOT NULL,
    "pontuacaoTotal" INTEGER NOT NULL DEFAULT 0,
    "pontuacaoPerformance" INTEGER NOT NULL DEFAULT 0,
    "pontuacaoDisciplina" INTEGER NOT NULL DEFAULT 0,
    "pontuacaoResponsabilidade" INTEGER NOT NULL DEFAULT 0,
    "ultimaAtualizacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PontuacaoAtleta_pkey" PRIMARY KEY ("atletaId")
);

-- CreateTable
CREATE TABLE "Postagem" (
    "id" TEXT NOT NULL,
    "conteudo" TEXT NOT NULL,
    "imagemUrl" TEXT,
    "videoUrl" TEXT,
    "tipoMidia" "TipoMidia",
    "dataCriacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "usuarioId" TEXT NOT NULL,
    "atletaId" TEXT,
    "clubeId" TEXT,
    "escolinhaId" TEXT,
    "compartilhamentos" INTEGER DEFAULT 0,

    CONSTRAINT "Postagem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Professor" (
    "id" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "cref" TEXT,
    "areaFormacao" TEXT NOT NULL,
    "escola" TEXT,
    "fotoUrl" TEXT,
    "nome" TEXT NOT NULL,
    "usuarioId" TEXT,
    "statusCref" "StatusCref",
    "qualificacoes" TEXT[],
    "certificacoes" TEXT[],

    CONSTRAINT "Professor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Ranking" (
    "id" TEXT NOT NULL,
    "atletaId" TEXT NOT NULL,
    "total" INTEGER NOT NULL DEFAULT 0,
    "posicao" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Ranking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RegistroTreino" (
    "id" TEXT NOT NULL,
    "treinoId" TEXT NOT NULL,
    "notas" TEXT,
    "completado" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "RegistroTreino_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RelacaoTreinamento" (
    "id" TEXT NOT NULL,
    "professorId" TEXT,
    "atletaId" TEXT,
    "escolinhaId" TEXT,
    "clubeId" TEXT,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RelacaoTreinamento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Seguidor" (
    "id" TEXT NOT NULL,
    "seguidoUsuarioId" TEXT NOT NULL,
    "seguidorUsuarioId" TEXT NOT NULL,

    CONSTRAINT "Seguidor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SolicitacaoTreino" (
    "id" TEXT NOT NULL,
    "remetenteId" TEXT NOT NULL,
    "destinatarioId" TEXT NOT NULL,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT,

    CONSTRAINT "SolicitacaoTreino_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SolicitacaoVinculo" (
    "id" TEXT NOT NULL,
    "atletaId" TEXT NOT NULL,
    "entidadeId" TEXT NOT NULL,
    "tipoEntidade" TEXT NOT NULL,
    "status" TEXT,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SolicitacaoVinculo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SubmissaoDesafio" (
    "id" TEXT NOT NULL,
    "atletaId" TEXT NOT NULL,
    "desafioId" TEXT NOT NULL,
    "videoUrl" TEXT NOT NULL,
    "aprovado" BOOLEAN,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "usuarioId" TEXT,
    "observacao" TEXT,

    CONSTRAINT "SubmissaoDesafio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SubmissaoDesafioEmGrupo" (
    "id" TEXT NOT NULL,
    "submissaoDesafioId" TEXT NOT NULL,
    "desafioEmGrupoId" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "dataEnvio" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "aprovado" BOOLEAN,
    "pontosGanhos" INTEGER,

    CONSTRAINT "SubmissaoDesafioEmGrupo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SubmissaoTreino" (
    "id" TEXT NOT NULL,
    "atletaId" TEXT NOT NULL,
    "treinoAgendadoId" TEXT NOT NULL,
    "aprovado" BOOLEAN,
    "observacao" TEXT,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "atualizadoEm" TIMESTAMP(3) NOT NULL,
    "usuarioId" TEXT,
    "duracaoMinutos" INTEGER,
    "pontosCreditados" INTEGER,
    "pontuacaoSnapshot" INTEGER,
    "tipoTreinoSnapshot" "TipoTreino",
    "treinoTituloSnapshot" TEXT,

    CONSTRAINT "SubmissaoTreino_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TreinoAgendado" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "local" TEXT,
    "atletaId" TEXT NOT NULL,
    "treinoProgramadoId" TEXT,
    "dataTreino" TIMESTAMP(3),
    "dataExpiracao" TIMESTAMP(3),

    CONSTRAINT "TreinoAgendado_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TreinoLivre" (
    "id" TEXT NOT NULL,
    "atletaId" TEXT NOT NULL,
    "data" TIMESTAMP(3) NOT NULL,
    "descricao" TEXT,
    "duracaoMin" INTEGER,

    CONSTRAINT "TreinoLivre_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TreinoProgramado" (
    "id" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "nivel" "Nivel" NOT NULL,
    "dataAgendada" TIMESTAMP(3),
    "professorId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "categoria" "Categoria"[],
    "dicas" TEXT[],
    "duracao" INTEGER,
    "escolinhaId" TEXT,
    "objetivo" TEXT,
    "imagemUrl" TEXT,
    "tipoTreino" "TipoTreino",
    "clubeId" TEXT,
    "metas" TEXT,
    "pontuacao" INTEGER,
    "naoExpira" BOOLEAN NOT NULL DEFAULT false,
    "expiraEm" TIMESTAMP(3),

    CONSTRAINT "TreinoProgramado_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TreinoProgramadoExercicio" (
    "id" TEXT NOT NULL,
    "treinoProgramadoId" TEXT NOT NULL,
    "exercicioId" TEXT NOT NULL,
    "ordem" INTEGER NOT NULL,
    "repeticoes" TEXT NOT NULL,

    CONSTRAINT "TreinoProgramadoExercicio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TreinoProgramadoRecebido" (
    "id" TEXT NOT NULL,
    "atletaId" TEXT NOT NULL,
    "treinoId" TEXT NOT NULL,

    CONSTRAINT "TreinoProgramadoRecebido_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TreinoRealizado" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "treinoId" TEXT NOT NULL,
    "local" TEXT,
    "dataExpiracao" TIMESTAMP(3),

    CONSTRAINT "TreinoRealizado_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Usuario" (
    "id" TEXT NOT NULL,
    "nomeDeUsuario" TEXT NOT NULL,
    "senhaHash" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "foto" TEXT,
    "tipo" "TipoUsuario" NOT NULL,
    "cidade" TEXT,
    "estado" TEXT,
    "pais" TEXT,
    "bairro" TEXT,
    "cpf" TEXT,
    "dataCriacao" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "codigo" TEXT,
    "verified" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Video" (
    "id" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "thumbnail" TEXT,
    "atletaId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "categoria" "Categoria"[],
    "nivel" "Nivel" NOT NULL,

    CONSTRAINT "Video_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_MembrosDesafioEmGrupo" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_MembrosDesafioEmGrupo_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "Administrador_usuarioId_key" ON "Administrador"("usuarioId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "AtividadeRecente_imagemUrl_key" ON "AtividadeRecente"("imagemUrl" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Atleta_email_key" ON "Atleta"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Atleta_usuarioId_key" ON "Atleta"("usuarioId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Clube_cnpj_key" ON "Clube"("cnpj" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Clube_email_key" ON "Clube"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Clube_nome_key" ON "Clube"("nome" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Clube_siteOficial_key" ON "Clube"("siteOficial" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Clube_usuarioId_key" ON "Clube"("usuarioId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "DesafioOficial_imagemUrl_key" ON "DesafioOficial"("imagemUrl" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "DesafioOficial_titulo_key" ON "DesafioOficial"("titulo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Escolinha_cnpj_key" ON "Escolinha"("cnpj" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Escolinha_email_key" ON "Escolinha"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Escolinha_nome_key" ON "Escolinha"("nome" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Escolinha_usuarioId_key" ON "Escolinha"("usuarioId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Exercicio_codigo_key" ON "Exercicio"("codigo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Exercicio_nome_key" ON "Exercicio"("nome" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Exercicio_videoDemonstrativoUrl_key" ON "Exercicio"("videoDemonstrativoUrl" ASC);

-- CreateIndex
CREATE INDEX "FavoritoUsuario_favoritoUsuarioId_idx" ON "FavoritoUsuario"("favoritoUsuarioId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "FavoritoUsuario_usuarioId_favoritoUsuarioId_key" ON "FavoritoUsuario"("usuarioId" ASC, "favoritoUsuarioId" ASC);

-- CreateIndex
CREATE INDEX "FavoritoUsuario_usuarioId_idx" ON "FavoritoUsuario"("usuarioId" ASC);

-- CreateIndex
CREATE INDEX "Grupo_createdAt_idx" ON "Grupo"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "Grupo_ownerId_idx" ON "Grupo"("ownerId" ASC);

-- CreateIndex
CREATE INDEX "Grupo_updatedAt_idx" ON "Grupo"("updatedAt" ASC);

-- CreateIndex
CREATE INDEX "MembroGrupo_grupoId_tipo_idx" ON "MembroGrupo"("grupoId" ASC, "tipo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "MembroGrupo_grupoId_usuarioId_key" ON "MembroGrupo"("grupoId" ASC, "usuarioId" ASC);

-- CreateIndex
CREATE INDEX "MembroGrupo_usuarioId_idx" ON "MembroGrupo"("usuarioId" ASC);

-- CreateIndex
CREATE INDEX "MensagemGrupo_criadaEm_idx" ON "MensagemGrupo"("criadaEm" ASC);

-- CreateIndex
CREATE INDEX "MensagemGrupo_grupoId_idx" ON "MensagemGrupo"("grupoId" ASC);

-- CreateIndex
CREATE INDEX "MensagemGrupo_usuarioId_idx" ON "MensagemGrupo"("usuarioId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Midia_url_key" ON "Midia"("url" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "PasswordReset_tokenHash_key" ON "PasswordReset"("tokenHash" ASC);

-- CreateIndex
CREATE INDEX "PasswordReset_usuarioId_idx" ON "PasswordReset"("usuarioId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Postagem_conteudo_key" ON "Postagem"("conteudo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Postagem_usuarioId_conteudo_key" ON "Postagem"("usuarioId" ASC, "conteudo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Professor_codigo_key" ON "Professor"("codigo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Professor_fotoUrl_key" ON "Professor"("fotoUrl" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Professor_nome_key" ON "Professor"("nome" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Professor_usuarioId_key" ON "Professor"("usuarioId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Ranking_atletaId_key" ON "Ranking"("atletaId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "RelacaoTreinamento_professorId_atletaId_escolinhaId_clubeId_key" ON "RelacaoTreinamento"("professorId" ASC, "atletaId" ASC, "escolinhaId" ASC, "clubeId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "SubmissaoDesafio_videoUrl_key" ON "SubmissaoDesafio"("videoUrl" ASC);

-- CreateIndex
CREATE INDEX "SubmissaoDesafioEmGrupo_desafioEmGrupoId_idx" ON "SubmissaoDesafioEmGrupo"("desafioEmGrupoId" ASC);

-- CreateIndex
CREATE INDEX "SubmissaoDesafioEmGrupo_usuarioId_idx" ON "SubmissaoDesafioEmGrupo"("usuarioId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "SubmissaoTreino_observacao_key" ON "SubmissaoTreino"("observacao" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TreinoAgendado_titulo_key" ON "TreinoAgendado"("titulo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TreinoProgramado_codigo_key" ON "TreinoProgramado"("codigo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TreinoProgramado_nome_key" ON "TreinoProgramado"("nome" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "Usuario"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_nomeDeUsuario_key" ON "Usuario"("nomeDeUsuario" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Video_url_key" ON "Video"("url" ASC);

-- CreateIndex
CREATE INDEX "_MembrosDesafioEmGrupo_B_index" ON "_MembrosDesafioEmGrupo"("B" ASC);

-- AddForeignKey
ALTER TABLE "Administrador" ADD CONSTRAINT "Administrador_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Amigo" ADD CONSTRAINT "Amigo_amigoId_fkey" FOREIGN KEY ("amigoId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Amigo" ADD CONSTRAINT "Amigo_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AtividadeRecente" ADD CONSTRAINT "AtividadeRecente_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Atleta" ADD CONSTRAINT "Atleta_clubeId_fkey" FOREIGN KEY ("clubeId") REFERENCES "Clube"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Atleta" ADD CONSTRAINT "Atleta_escolinhaId_fkey" FOREIGN KEY ("escolinhaId") REFERENCES "Escolinha"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Atleta" ADD CONSTRAINT "Atleta_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Clube" ADD CONSTRAINT "Clube_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comentario" ADD CONSTRAINT "Comentario_postagemId_fkey" FOREIGN KEY ("postagemId") REFERENCES "Postagem"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comentario" ADD CONSTRAINT "Comentario_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Curtida" ADD CONSTRAINT "Curtida_postagemId_fkey" FOREIGN KEY ("postagemId") REFERENCES "Postagem"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Curtida" ADD CONSTRAINT "Curtida_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DesafioEmGrupo" ADD CONSTRAINT "DesafioEmGrupo_desafioOficialId_fkey" FOREIGN KEY ("desafioOficialId") REFERENCES "DesafioOficial"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Escolinha" ADD CONSTRAINT "Escolinha_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EstatisticaAtleta" ADD CONSTRAINT "EstatisticaAtleta_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FavoritoUsuario" ADD CONSTRAINT "FavoritoUsuario_favoritoUsuarioId_fkey" FOREIGN KEY ("favoritoUsuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FavoritoUsuario" ADD CONSTRAINT "FavoritoUsuario_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Grupo" ADD CONSTRAINT "Grupo_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LogErro" ADD CONSTRAINT "LogErro_postagemId_fkey" FOREIGN KEY ("postagemId") REFERENCES "Postagem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LogErro" ADD CONSTRAINT "LogErro_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MembroGrupo" ADD CONSTRAINT "MembroGrupo_grupoId_fkey" FOREIGN KEY ("grupoId") REFERENCES "Grupo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MembroGrupo" ADD CONSTRAINT "MembroGrupo_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Mensagem" ADD CONSTRAINT "Mensagem_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Mensagem" ADD CONSTRAINT "Mensagem_deId_fkey" FOREIGN KEY ("deId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Mensagem" ADD CONSTRAINT "Mensagem_desafioId_fkey" FOREIGN KEY ("desafioId") REFERENCES "DesafioOficial"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Mensagem" ADD CONSTRAINT "Mensagem_paraId_fkey" FOREIGN KEY ("paraId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Mensagem" ADD CONSTRAINT "Mensagem_postId_fkey" FOREIGN KEY ("postId") REFERENCES "Postagem"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Mensagem" ADD CONSTRAINT "Mensagem_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MensagemGrupo" ADD CONSTRAINT "MensagemGrupo_grupoId_fkey" FOREIGN KEY ("grupoId") REFERENCES "Grupo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MensagemGrupo" ADD CONSTRAINT "MensagemGrupo_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Midia" ADD CONSTRAINT "Midia_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Midia" ADD CONSTRAINT "Midia_clubeId_fkey" FOREIGN KEY ("clubeId") REFERENCES "Clube"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Midia" ADD CONSTRAINT "Midia_escolinhaId_fkey" FOREIGN KEY ("escolinhaId") REFERENCES "Escolinha"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Midia" ADD CONSTRAINT "Midia_submissaoDesafioId_fkey" FOREIGN KEY ("submissaoDesafioId") REFERENCES "SubmissaoDesafio"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Midia" ADD CONSTRAINT "Midia_submissaoTreinoId_fkey" FOREIGN KEY ("submissaoTreinoId") REFERENCES "SubmissaoTreino"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PasswordReset" ADD CONSTRAINT "PasswordReset_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PontuacaoAtleta" ADD CONSTRAINT "PontuacaoAtleta_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Postagem" ADD CONSTRAINT "Postagem_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Postagem" ADD CONSTRAINT "Postagem_clubeId_fkey" FOREIGN KEY ("clubeId") REFERENCES "Clube"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Postagem" ADD CONSTRAINT "Postagem_escolinhaId_fkey" FOREIGN KEY ("escolinhaId") REFERENCES "Escolinha"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Postagem" ADD CONSTRAINT "Postagem_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Professor" ADD CONSTRAINT "Professor_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ranking" ADD CONSTRAINT "Ranking_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RegistroTreino" ADD CONSTRAINT "RegistroTreino_treinoId_fkey" FOREIGN KEY ("treinoId") REFERENCES "TreinoLivre"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RelacaoTreinamento" ADD CONSTRAINT "RelacaoTreinamento_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RelacaoTreinamento" ADD CONSTRAINT "RelacaoTreinamento_clubeId_fkey" FOREIGN KEY ("clubeId") REFERENCES "Clube"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RelacaoTreinamento" ADD CONSTRAINT "RelacaoTreinamento_escolinhaId_fkey" FOREIGN KEY ("escolinhaId") REFERENCES "Escolinha"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RelacaoTreinamento" ADD CONSTRAINT "RelacaoTreinamento_professorId_fkey" FOREIGN KEY ("professorId") REFERENCES "Professor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Seguidor" ADD CONSTRAINT "Seguidor_seguidoUsuarioId_fkey" FOREIGN KEY ("seguidoUsuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Seguidor" ADD CONSTRAINT "Seguidor_seguidorUsuarioId_fkey" FOREIGN KEY ("seguidorUsuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitacaoTreino" ADD CONSTRAINT "SolicitacaoTreino_destinatarioId_fkey" FOREIGN KEY ("destinatarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitacaoTreino" ADD CONSTRAINT "SolicitacaoTreino_remetenteId_fkey" FOREIGN KEY ("remetenteId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitacaoVinculo" ADD CONSTRAINT "SolicitacaoVinculo_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissaoDesafio" ADD CONSTRAINT "SubmissaoDesafio_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissaoDesafio" ADD CONSTRAINT "SubmissaoDesafio_desafioId_fkey" FOREIGN KEY ("desafioId") REFERENCES "DesafioOficial"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissaoDesafio" ADD CONSTRAINT "SubmissaoDesafio_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissaoDesafioEmGrupo" ADD CONSTRAINT "SubmissaoDesafioEmGrupo_desafioEmGrupoId_fkey" FOREIGN KEY ("desafioEmGrupoId") REFERENCES "DesafioEmGrupo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissaoDesafioEmGrupo" ADD CONSTRAINT "SubmissaoDesafioEmGrupo_submissaoDesafioId_fkey" FOREIGN KEY ("submissaoDesafioId") REFERENCES "SubmissaoDesafio"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissaoDesafioEmGrupo" ADD CONSTRAINT "SubmissaoDesafioEmGrupo_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissaoTreino" ADD CONSTRAINT "SubmissaoTreino_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissaoTreino" ADD CONSTRAINT "SubmissaoTreino_treinoAgendadoId_fkey" FOREIGN KEY ("treinoAgendadoId") REFERENCES "TreinoAgendado"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubmissaoTreino" ADD CONSTRAINT "SubmissaoTreino_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoAgendado" ADD CONSTRAINT "TreinoAgendado_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoAgendado" ADD CONSTRAINT "TreinoAgendado_treinoProgramadoId_fkey" FOREIGN KEY ("treinoProgramadoId") REFERENCES "TreinoProgramado"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoLivre" ADD CONSTRAINT "TreinoLivre_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoProgramado" ADD CONSTRAINT "TreinoProgramado_clubeId_fkey" FOREIGN KEY ("clubeId") REFERENCES "Clube"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoProgramado" ADD CONSTRAINT "TreinoProgramado_escolinhaId_fkey" FOREIGN KEY ("escolinhaId") REFERENCES "Escolinha"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoProgramado" ADD CONSTRAINT "TreinoProgramado_professorId_fkey" FOREIGN KEY ("professorId") REFERENCES "Professor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoProgramadoExercicio" ADD CONSTRAINT "TreinoProgramadoExercicio_exercicioId_fkey" FOREIGN KEY ("exercicioId") REFERENCES "Exercicio"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoProgramadoExercicio" ADD CONSTRAINT "TreinoProgramadoExercicio_treinoProgramadoId_fkey" FOREIGN KEY ("treinoProgramadoId") REFERENCES "TreinoProgramado"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoProgramadoRecebido" ADD CONSTRAINT "TreinoProgramadoRecebido_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoProgramadoRecebido" ADD CONSTRAINT "TreinoProgramadoRecebido_treinoId_fkey" FOREIGN KEY ("treinoId") REFERENCES "TreinoProgramado"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoRealizado" ADD CONSTRAINT "TreinoRealizado_treinoId_fkey" FOREIGN KEY ("treinoId") REFERENCES "TreinoProgramado"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TreinoRealizado" ADD CONSTRAINT "TreinoRealizado_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Video" ADD CONSTRAINT "Video_atletaId_fkey" FOREIGN KEY ("atletaId") REFERENCES "Atleta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_MembrosDesafioEmGrupo" ADD CONSTRAINT "_MembrosDesafioEmGrupo_A_fkey" FOREIGN KEY ("A") REFERENCES "DesafioEmGrupo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_MembrosDesafioEmGrupo" ADD CONSTRAINT "_MembrosDesafioEmGrupo_B_fkey" FOREIGN KEY ("B") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

